## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## VS Code / Rider / VS
.vs/
.vscode/
.idea/
*.DotSettings.user

## SQLite database files
*.db
*.db-shm
*.db-wal

## OS files
.DS_Store
Thumbs.db
